.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App div {
  margin: 25px;
}

.inputForm {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
}

.inputForm input {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: larger;
}

.choiceDiv button {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: larger;
}

.choiceDiv .highlight {
  background-color: yellow;
}

.upute {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  width: 50%;
  font-size: large;
}
